language: java
sudo: required
jdk:
- openjdk8
services:
- docker
- postgresql
before_script:
- psql -c "CREATE USER test WITH PASSWORD 'testtest';" -U postgres
- psql -c "CREATE DATABASE testdb WITH OWNER test;" -U postgres
install:
- mvn compile -DskipTests=true -Dmaven.javadoc.skip=true -B -V -pl core,extensions,extensions/db2,extensions/postgres
script:
- mvn test -B -V -pl core,extensions,extensions/postgres,extensions/db2 
after_script:
- mvn jacoco:report coveralls:report
