<ul id="navbar" class="nav nav-pills nav-stacked span3" data-spy="affix" data-offset-top="95" style="margin-left: 0;">
    <li class="nav-header">Table of content</li>
<!--    <li {% if include.curmenu == 'welcome' %} class="active" {% endif %}><a href="{{ page.base_url }}docs/quickstart">Quick start</a></li>-->
    <li {% if include.curmenu == 'configuration' %} class="active" {% endif %}><a href="{{ page.base_url }}docs/configuration">Configuration</a></li>
    <li {% if include.curmenu == 'fetchdata' %} class="active" {% endif %}><a href="{{ page.base_url }}docs/fetching-data">Fetching data from database</a></li>
    <li {% if include.curmenu == 'columnmappings' %} class="active" {% endif %}><a href="{{ page.base_url }}docs/column-mappings">
    Column mappings</a></li>
    <li {% if include.curmenu == 'insertsAndUpdates' %} class="active" {% endif %}><a href="{{ page.base_url }}docs/updates-and-inserts">Updates and inserts</a></li>
    <li {% if include.curmenu == 'transactions' %} class="active" {% endif %}><a href="{{ page.base_url }}docs/transactions">Transactions</a></li>
    <li {% if include.curmenu == 'batch' %} class="active" {% endif %}><a href="{{ page.base_url }}docs/batch">Running queries in batch</a></li>
</ul>