<!DOCTYPE html>

<html>
<head>
    <title> {{ page.title }} - </title>
    <meta name="description" content="Easy database query library." />
    <meta name="keywords" content="sql2o,jdbc,sql,java,database,db" />
    <meta name="author" content="Lars Aaberg" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,700' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="{{ page.base_url }}public/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" media="screen" href="{{ page.base_url }}public/stylesheets/main.css"/>
    <link rel="stylesheet" media="screen" href="{{ page.base_url }}public/stylesheets/highlight.css" />

    {{ page.moreStyles }}
    <link rel="shortcut icon" type="image/png" href="{{ page.base_url }}public/images/favicon3.png" />
    <script src="{{ page.base_url }}public/javascripts/jquery-1.9.1.min.js" type="text/javascript" charset="UTF-8"></script>
    <script src="{{ page.base_url }}public/bootstrap/js/bootstrap.js" type="text/javascript" charset="UTF-8"></script>

    {{ page.moreScripts }}

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-38130384-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</head>
<body data-spy="scroll" data-target="#main" itemscope itemtype="http://schema.org/SoftwareApplication">

<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container">

            <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <!-- Be sure to leave the brand out there if you want it shown -->
            

            <ul class="nav pull-left">
                <li {% if page.topmenu == "index" %}class="active" {% endif %}><a href="{{ page.base_url }}">Home</a></li>
                <li {% if page.topmenu == "docs" %}class="active" {% endif %}><a href="{{ page.base_url }}docs/configuration">Docs</a></li>
            </ul>

            <ul class="nav pull-right">
                <li class="pull-right"><a href="{{ page.base_url }}download">Latest version: {{ site.data.config.latestversion }}</a></li>
            </ul>

            <!-- Everything you want hidden at 940px or less, place within here -->
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li {% if page.topmenu == "download" %}class="active" {% endif %}><a href="{{ page.base_url }}download">Download / install</a></li>
                    <li><a href="http://api.sql2o.org/{{ site.data.config.latestversion }}" target="_blank">Javadoc</a></li>
                    <li><a href="https://github.com/aaberg/sql2o/issues" target="_blank">Report a bug&nbsp;<i class="icon-share"></i></a></li>
                    <li><a href="http://groups.google.com/group/sql2o" target="_blank">Google group&nbsp;<i class="icon-share"></i></a></li>
                    <li><a href="https://github.com/aaberg/sql2o" target="_blank">Github page&nbsp;<i class="icon-share"></i></a></li>
                </ul>
            </div>

            

        </div>
    </div>
</div>

<div id="header">
    <div class="container">
        <h1 style="display: none" itemprop="name">Sql2o</h1>
        <a href="{{ page.base_url }}"><img itemprop="image" src="{{ page.base_url }}public/images/sql2o_logo.png" alt="sql2o logo" /></a>
        <div id="subtitle" itemprop="description">Easy database query library.  </div>
    </div>
</div>
<div id="main" class="container">
    {{ content }}
</div>

<div id="footer"></div>

<a href="https://github.com/aaberg/sql2o" class="visible-desktop"><img style="position: absolute; top: 40px; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
</body>
</html>